html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: #222;
  padding: 20px;
}



.footer {
  /* width: 95%;
  position: fixed;
  bottom: 20px;
  display: flex;
  position: static;
  overflow: hidden;
  bottom: 0; */
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.footer input[type="text"]{
  width: 50%;
  height: 50px;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #8e8ea0;
}

input[type="submit"] {
  height: 50px;
  border: none;
  width: 10%;
}

input[type="button"] {
  height: 50px;
  border: none;
  width: 10%;
}

.container {
  background-color: black;
}

.answer-area {
  background: #343541;
    min-height: 70vh;
    padding: 15px;
    color: white;
    font-family: roboto;
    white-space: pre-wrap;
}

.loading-spinner {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 300px;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
}

.spinner-border {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
}






